#somethingunique {
    background-image: url('images/basement.jpg');
    
} 

.road{
    height: 700px;
    width: 1700px;
}

.Inside{
    height: 700px;
    width: 1700px;
}

.dooor{
    display: block;
}

.death {
    
}

.death img {
    height:850px;
    width:1600px;
}

.chair{
    height:300px;
    width:300px;
}
#chair{
    margin-left: 250px;
}

.bottle{
    height:300px;
    width:300px;
}

#bottle{
    float: none
}

.gun{
    height:300px;
    width:300px;
}

#gun{
    float: none
}
.door1{
    height: 600px;
    width:600px;
}

#door1{
    float: left
}

.door2{
    height: 600px;
    width:600px;
}

#door2{
    float: right
}

.links{
    text-align: right;
    padding-right: 25px;
}

body{
    font-family: "Comic Sans MS";
    font-size: 30px;
}

.link {
    display: inline-block;
    margin-right: 200px;
}